{% extends "layout.html" %}

{% block main_content %}

<h2>Pain Questionnaire</h2>
<h3>Section 1 of 3</h3>
<h4>What does your pain feel like?</h4>
<p>Choose all words that best describe your pain.</p>

<div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

        {% for item in form.adjectives1 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives2 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives3 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives4 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives5 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives6 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives7 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives8 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives9 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
            <br>
        {% for item in form.adjectives10 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives11 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives12 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives13 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives14 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives15 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives16 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives17 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives18 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives19 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}
        <br>
        {% for item in form.adjectives20 %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}

        {{ form.submit(class="btn btn-primary submit") }}
    </form>
</div>

<p id="reference">based on Melzack R. The McGill Pain Questionnaire: Major properties and scoring methods. Pain. 1975;1: 277-299
<a href="https://pubmed.ncbi.nlm.nih.gov/1235985/" target="_blank">Link to original paper</a></p>

{% endblock %}