{% extends "layout.html" %}

{% block main_content %}

<h2>Pain Questionnaire</h2>
<h3>Section 2 of 3</h3>
<h4>How does your pain change with time?</h4>
<p>Which word or words would you choose to describe the pattern of your pain?</p>

<div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

        {% for item in form.change %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}

        {% for item in form.increase %}
            <div>
                <input type="checkbox" name="{{ item.name }}" value="{{ item.data }}">
                {{ item.label }}
            </div>
        {% endfor %}

<p>Do the following items increase or decrease (change) your pain?</p>



        {{ form.submit(class="btn btn-primary submit") }}
    </form>
</div>

<p id="reference">based on Melzack R. The McGill Pain Questionnaire: Major properties and scoring methods. Pain. 1975;1: 277-299
<a href="https://pubmed.ncbi.nlm.nih.gov/1235985/" target="_blank">Link to original paper</a></p>

{% endblock %}