{% extends "layout.html" %}

{% block main_content %}

<h2>Pain Questionnaire</h2>
<h3>Section 2 of 3</h3>
<h4>How does your pain change with time?</h4>
<p>Which word or words would you choose to describe the pattern of your pain?</p>

<div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

        <div class="mb-3">

            {% for key, value in pain_change.items() %}
                {% for word in value %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ word }}" id="{{ word }}">
                    <label class="form-check-label" for="{{ word }}">{{ word }}</label>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

<p>Do the following items increase or decrease (change) your pain?</p>

        <div class="mb-3">

            {% for key, value in pain_increase.items() %}
                {% for word in value %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ word }}" id="xxx">
                    <label class="form-check-label" for="xxx">{{ word }}</label>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary submit") }}
    </form>
</div>

<p id="reference">based on Melzack R. The McGill Pain Questionnaire: Major properties and scoring methods. Pain. 1975;1: 277-299
<a href="https://pubmed.ncbi.nlm.nih.gov/1235985/" target="_blank">Link to original paper</a></p>

{% endblock %}