{% extends "layout.html" %}

{% block main_content %}

<h2>Pain Questionnaire</h2>
<h3>Section 3 of 3</h3>
<h4>How strong is your pain?</h4>
<p>Which words describes your pain right now?</p>

<div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

        <div class="mb-3">

            {% for subfield in form.intensity %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}

        </div>

        {{ form.submit(class="btn btn-primary submit") }}
    </form>
</div>

<p id="reference">based on (but not a replica of) Melzack R. The McGill Pain Questionnaire: Major properties and scoring methods. Pain. 1975;1: 277-299
<a href="https://pubmed.ncbi.nlm.nih.gov/1235985/" target="_blank">Link to original paper</a></p>

{% endblock %}