{% extends "layout.html" %}

{% block main_content %}

<a href="./login" class="btn btn-primary">Login</a>

<p>
    We get it, accurately describing symptoms to your GP in just 10 minutes can feel like a race against time.

    Symptom Record is a friendly assistant designed to make this process simpler and stress-free. 

    <ul>
        <li>Are you a mom juggling kids and medical appointments? Breathe easy.</li>
        <li>Struggling with memory problems? Don't worry, we've got your back.</li>
        <li>Trying to convey your pet's symptoms? We've made it a walk in the park.</li>
    </ul>

    With Symptom Record, you can take your time to jot down symptoms in your own words, and at your own pace. This smart tool translates your notes into a succinct summary for your GP or VET.
    <br>
    Start making your medical appointments more effective and less stressful with Symptom Record today!
</p>


<button id="disclaimer" type="button" class="btn btn-danger" onclick="disclaimer()">Click to read Disclaimer</button>



{% endblock %}