{% extends "layout.html" %}

{% block main_content %}

<h1>Welcome to Symptom Logger!</h1>

<p>
    We get it, accurately describing symptoms to your GP in just 10 minutes can feel like a race against time. Whether you're a busy parent with kids in tow, an elderly person struggling with memory loss, or even a pet owner trying to express your furry friend's discomfort, it can be tough! 

    But guess what? We have a solution. Meet Symptom Logger, a friendly assistant designed to make this process simpler and stress-free. 

    <ul>
        <li>Are you a mom juggling kids and medical appointments? Breathe easy.</li>
        <li>Struggling with memory problems? Don't worry, we've got your back.</li>
        <li>Trying to convey your pet's symptoms? We've made it a walk in the park.</li>
    </ul>

    With Symptom Logger, you can take your time to jot down symptoms in your own words, and at your own pace. This smart tool translates your notes into a succinct summary for your GP. And the best part? It's accessible in your preferred language.

    So, why wait? Start making your medical appointments more effective and less stressful with Symptom Logger today!
</p>

{% endblock %}