{% extends "layout.html" %}

{% block main_content %}

<div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="symptoms" class="form-label">Record your symptoms here</label>
            <textarea class="form-control" id="symptoms" rows="3" name="symptoms" placeholder="mysymptoms"></textarea>
        </div>

        {{ form.submit(class="btn btn-primary submit") }}
    </form>
</div>

<br>

<a class="btn btn-primary" href="./display_record.html" role="button">Display my record</a>

{% endblock %}